<div style="width: 80%; margin: 0 auto; border: 2px gray solid; height: auto; margin-top: 80px; display: flex; justify-content: center;">    
    <form method="get" action="http://127.0.0.1:3000/api/public">
        <button type="submit" style="padding: 25px; margin: 20px 20px;">visualizza tutto</button>
    </form>
    <br><br><br>
    <div *ngFor="let response of imageResponses">
        <img [src]="response.image" alt="Uploaded Image" width="200" height="200">
        <p>{{ response.message }}</p>
    </div>
</div>